language: java

jdk: oraclejdk8

sudo: false

addons:
  apt:
    packages:
    - libssl-dev

env:
- WRK_PATH=".wrk"

cache:
  directories:
  - .wrk

before_install:
- test -d $WRK_PATH/.git || git clone https://github.com/wg/wrk.git $WRK_PATH
- test -f $WRK_PATH/wrk || make -C $WRK_PATH
- export PATH=$PATH:$WRK_PATH

before_script: echo $GPG_SECRET_KEYS | base64 --decode | gpg --import

script: mvn -B -s .settings.xml verify

after_success: bash <(curl -s https://codecov.io/bash)

deploy:
  provider: script
  script: mvn -B -s .settings.xml clean verify gpg:sign deploy:deploy
  skip_cleanup: true
  on:
    tags: true
