language: java

jdk: oraclejdk8

sudo: false

addons:
  apt:
    packages:
    - libssl-dev

env:
- WRK_PATH=".wrk"

cache:
  directories:
  - .wrk

before_install:
- test -d $WRK_PATH || git clone https://github.com/wg/wrk.git $WRK_PATH
- test -f $WRK_PATH/wrk || make -C $WRK_PATH
- export PATH=$PATH:$WRK_PATH
