language: java

jdk: oraclejdk8

sudo: false

addons:
  apt:
    packages:
    - libssl-dev

before_install:
- DIR=$(mktemp -d) && git clone https://github.com/wg/wrk.git $DIR && make -C $DIR && cp $DIR/wrk /usr/local/bin
