language: java

jdk: oraclejdk8

sudo: false

before_install:
- sh -c "$(curl -fsSL https://raw.githubusercontent.com/Linuxbrew/install/master/install.sh)"
- ~/.linuxbrew/bin/brew update
- ~/.linuxbrew/bin/brew install wrk
